// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 */

// 3寸mipi屏幕
// 该文件基于 rk3506-luckfox-lyra-ultra.dtsi 派生，用于 Luckfox Lyra Zero W 板卡。
// 对比参考版本(官方设备树），主要差异为：
// 1. 背光节点显式启用（参考版无背光节点）。
// 2. LCD 电源 vcc3v3_lcd 设置为常开，但未配置复位引脚 pinctrl（参考版增加了 lcd_pwren_h 引脚控制）。
// 3. 面板电源引用相同，但定义位置不同。

/dts-v1/;

#include "rk3506-luckfox-lyra-ultra.dtsi"

/ {
	model = "Luckfox Lyra Zero W";
	compatible = "rockchip,rk3506g-demo-display-control", "rockchip,rk3506";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff0a0000 console=tty1 console=ttyFIQ0 root=ubi0:rootfs ubi.mtd=2 rootfstype=ubifs rootwait snd_aloop.index=7 snd_aloop.use_raw_jiffies=1";
	};

	/*
	 * 无线蓝牙控制节点
	 */
	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		BT,power_gpio = <&gpio1 RK_PC5 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};


	/*
	 * 背光节点：显式启用 dtsi 中定义的 PWM 背光。
	 */
	backlight: backlight {
		status = "okay";
	};

	/*
	 * LCD 3.3V 电源：固定电压调节器，常开。
	 * 差异点：本版本未配置 pinctrl，即未将 GPIO1_C4 用作电源使能引脚，
	 * 而是硬件直接供电。参考版本中增加了 lcd_pwren_h 引脚控制，
	 * 并将 GPIO1_C4 复用为普通 GPIO 上拉输出，用于控制 LCD 复位或电源使能。
	 */
	vcc3v3_lcd: vcc3v3-lcd {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd";
		regulator-always-on;
		status = "okay";
	};
};

/*
 * 将 DSI 面板的电源供应指向上面定义的 vcc3v3_lcd。
 */
&dsi_panel {
	power-supply = <&vcc3v3_lcd>;
};

/**********media**********/
&mmc {
	max-frequency = <52000000>;
	bus-width = <4>;
	no-sdio;
	no-mmc;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	cd-gpios = <&gpio1 RK_PB6 GPIO_ACTIVE_LOW>;
	disable-wp;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk_pins &sdmmc_cmd_pins &sdmmc_bus4_pins &sdmmc_det &sdmmc_pwren>;
	vqmmc-supply = <&vcc_3v3>;
	vmmc-supply = <&vcc_3v3>;
	status = "okay";
};

&fspi {
	status = "okay";
	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <80000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

/**********display**********/
&cma {
	size = <0x2000000>;
};

&dsi {
	status = "okay";
};

&dsi_dphy {
	status = "okay";
};

&dsi_in_vop {
	status = "okay";
};

&route_dsi {
	status = "okay";
};

/**********ethernet**********/
&gmac1 {
	status = "disabled";
};

/**********usb**********/
&usb20_otg0 {
	dr_mode = "peripheral";
	status = "okay";
};

&usb20_otg1 {
	dr_mode = "host";
	status = "okay";
};

/*
 * 屏幕复位
 */
&pinctrl {
    lcd {
        lcd_pwren_h: lcd-pwren-h {
            rockchip,pins = <1 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>; /* GPIO1_C4 */
        };
    };
};

